
body {
    background-color: rgb(255 234 234);
}

header {
    background-color: rgb(255 138 138);
    height: 300px;
    margin-bottom: 100px;
}

footer {
    background-color: rgb(255 139 139);
    height: 300px;
    margin-top: 100px;
}